.site-header {
    background-color: rgba(255, 233, 173, 1.0);
    padding:20px;
}
.main-nav ul li{
    display:inline-block;
    list-style: none;
}

.main-nav a:visited {
    text-decoration: none;
}
.main-nav a {
    font-size: 30px;
    margin-left:20px;
    margin-top:20px;
}
.byline, .byline address, .byline time {
    display: inline-block;
    color: gray;
}

.pull-right {
    float:right;
}

div.icon-menu {
    float:right;
    font-size:3em;
    margin-top:-135px;
}

.main-nav ul li{
    display:none;
}
.main-nav ul {
    margin:20px;
}

/* div.icon-menu:hover {
    display:inline-block;
} */
.icon-menu:hover li{
    display:block;
}

@media (min-width: 640px) {
    
    div.icon-menu {
        float:right;
        display: none;
    }
    /* div.icon-menu:hover {
        display:inline-block;
    } */

    img {
        min-width:100%;
    }

    /* div.icon-menu:hover  .main-nav ul li{
        display:block;
    } */

}